body{
    background-color: #333;
    color: whitesmoke;
}
/* campo para modificar el header - titulo y barra de navegacion */
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
header { 
    margin:auto;
    width: auto;
    text-align: center;
    background-color: blueviolet;
color: blanchedalmond;
overflow: hidden;
}
.menu
.subtitle{
    background-color: blueviolet;
    margin: auto;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;

 
}

.img  {
    text-align: center;
}

/*campo para modificar la barra de navegacion */
.link{
        text-decoration: none;
      }

nav {
        font-size: 23px;
      position: relative;
}

/*alineacion por herencia */
h1,h2 { 
    text-align: center;
    background-color: lightgreen;
    color: black;
}
.volver {
        background-color: #333;
        text-align: right;
}


.nt {
   color: whitesmoke;
   background-color: inherit;
}

footer {
    text-align: right;
    text-decoration: underline;
}
.block {
    margin:auto;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 500px;  
}
.text{
    font-family: sans-serif;
}


/*ESTILO BOTON*/
.button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
.button:hover {
    background-color: #3e8e41;
}

/*------ BOTONES FINAL ------ */
.button2 {
    background-color: blueviolet; /* Green */
    border: 1px solid rgb(37, 204, 199);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
.button2:hover {
    background-color: lightgreen;
}
.button2{
    margin-left: 400PX;

}
