body{
    background-color: #333;
    color: whitesmoke;
}
/* campo para modificar el header - titulo y barra de navegacion */
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}
.subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
header { 
    margin:auto;
    width: auto;
    text-align: center;
    background-color: blueviolet;
color: blanchedalmond;
overflow: hidden;
}

.img  {
    text-align: center;
}

/*campo para modificar la barra de navegacion */
.link{
    color: aliceblue;
        text-decoration: none;
      }

nav {
        font-size: 23px;
      position: relative;
}

/*alineacion por herencia */
h1,h2 { 
    text-align: center;
    background-color: lightgreen;
    color: black;
}
.volver {
        background-color: #333;
        text-align: right;
}


.nt {
   color: whitesmoke;
   background-color: inherit;
}

footer {
    text-align: right;
    text-decoration: underline;
}
.block {
    margin:auto;
    width: 500px;  
}
.text{
    font-family: sans-serif;
}


/*ESTILO BOTON*/
.button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}
.button:hover {
    background-color: #3e8e41;
}
