
body{
    background-color: rgb(57, 154, 167);
}
/* campo para modificar el header - titulo y barra de navegacion */
header { text-align: center;
color: lightgreen;
}


/*campo para modificar la barra de navegacion */
nav {
        font-size: large;
}

/*alineacion por herencia */
div
h1, 
h2 { 
    text-align: center;
    background-color: lightgreen;
}

#volver {
    text-align: right;
    background-color: lightgreen;
    
}





footer {
    text-align: right;
    text-decoration: underline;
}